name: epcdiy  
  
on:
  workflow_dispatch:
  schedule:
    - cron: '00 23 * * *' 
  
jobs:  
  build:  
    runs-on: ubuntu-latest  
  
    steps:  
    - uses: actions/checkout@v2  
  
    # 安装Python  
    - uses: actions/checkout@v3
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12" 
  
    # 安装依赖  
    - name: Install dependencies  
      shell: bash  
      run: |  
        echo "Installing dependencies..."  
        python -m pip install --upgrade pip  
        pip install bs4 Path argparse requests
  
    # 运行Python脚本  
    - name: Run Python script  v
      shell: bash  
      run: |  
        python sitecopy.py -u "https://shqibaoxindu.fandom.com/zh/wiki/%E4%B8%8A%E6%B5%B7%E5%B8%82%E4%B8%83%E5%AE%9D%E4%B8%AD%E5%AD%A6%E9%99%84%E5%B1%9E%E9%91%AB%E9%83%BD%E5%AE%9E%E9%AA%8C%E4%B8%AD%E5%AD%A6_Wiki" -e -d 1000 -t 50  
  
    # 打包文件  
    - name: Zip files  
      shell: bash  
      run: |  
        zip -r website.zip website
  
    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
          name: website.zip
          path: website.zip
