name: web-sitecopy
  
on:
  workflow_dispatch:
  schedule:
    - cron: '00 23 * * *' 
  
jobs:  
  build:  
    runs-on: windows-latest  
  
    steps:  
    - uses: actions/checkout@v2  
  
    # 安装Python  
    - uses: actions/checkout@v3
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12" 
  
    
    # 运行Python脚本  
    - name: Run Python script  v
      shell: bash  
      run: |  
        D:\a\SiteCopy-githubaction\SiteCopy-githubaction\sitecopy-web.bat
  
   
